{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Rose Petals </title>

    <!-- Bootstrap core CSS -->

    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<!--

TemplateMo 546 Sixteen Clothing

https://templatemo.com/tm-546-sixteen-clothing

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-sixteen.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">

  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand"><img src="{% static 'img/rp.png' %}" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% if cpage == 'Home' %}
                <li class="nav-item active">
                {%else%}
                <li class="nav-item">
                {% endif %}
                <a class="nav-link" href="/">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li> 
             
              {% if cpage == 'About' %}
              <li class="nav-item active">
              {%else%}
              <li class="nav-item">
              {% endif %}
              <a class="nav-link" href="/about">About Us</a>
              </li>
              
              {% if cpage == 'Contact' %}
              <li class="nav-item active">
              {%else%}
              <li class="nav-item">
              {% endif %}
              <a class="nav-link" href="/contact">Contact Us</a>
              </li>
              
              {% if user.is_authenticated %}
              <li>Hello, {{user.first_name}}</li>

              <li class="nav-item">
            
              <a class="nav-link" href="/accounts/logout">Logout</a>
                <span class="sr-only">(current)</span>
              </li>
              {%else%}
              
              {% if cpage == 'Register' %}
              <li class="nav-item active">
              {%else%}
              <li class="nav-item">
              {% endif %}
              <a class="nav-link" href="/accounts/register">Register</a>
                <span class="sr-only">(current)</span>
              </li>
              
              {% if cpage == 'Login' %}
              <li class="nav-item active">
              {%else%}
              <li class="nav-item">
              {% endif %}
              <a class="nav-link" href="/accounts/login">Login</a>
              {% endif %}
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

{% block content %}

{% endblock %} 


    <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="inner-content">
                <p>Copyright &copy; 2021 Rose Petals Botique.co, Ltd.
              
              - Design: <a rel="nofollow noopener" href="{% static 'https://templatemo.com' %}" target="_blank">TemplateMo</a></p>
              </div>
            </div>
          </div>
        </div>
      </footer>
  
  
      <!-- Bootstrap core JavaScript -->
      <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  
  
      <!-- Additional Scripts -->
      <script src="{% static 'assets/js/custom.js' %}"></script>
      <script src="{% static 'assets/js/owl.js' %}"></script>
      <script src="{% static 'assets/js/slick.js' %}"></script>
      <script src="{% static 'assets/js/isotope.js' %}"></script>
      <script src="{% static 'assets/js/accordions.js' %}"></script>
  
  
      <script language = "text/Javascript"> 
        cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
        function clearField(t){                   //declaring the array outside of the
        if(! cleared[t.id]){                      // function makes it static and global
            cleared[t.id] = 1;  // you could use true and false, but that's more typing
            t.value='';         // with more chance of typos
            t.style.color='#fff';
            }
        }
      </script>
  
  
    </body>
  
  </html>
  